# Project

# Utils
ipython==7.16.3

# Linters y Formatters

pre-commit==2.17.0

black==22.6.0

wemake-python-styleguide==0.16.1
# Están comentados por qué los instala wemake y delegamos su instalación
# flake8
# flake8-broken-line
# flake8-commas
# flake8-comprehensions
# flake8-debugger
# flake8-quotes
# flake8-bugbear
# flake8-eradicate
# flake8-string-format
# mccabe
# pep8-naming
# pydocstyle
# flake8-docstrings
# darglint
# flake8-rst-docstrings
# flake8-isort
# flake8-bandit
# bandit
# isort

flake8-coding==1.3.2
flake8-class-attributes-order==0.1.2
dlint==0.12.0
