#projects-header {
    align-items: flex-end;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1em;
}

#projects-header h1 {
    margin-bottom: -3px;
}

#projects-header .results {
    color: #ccc;
    margin-bottom: 4px;
}

#projects-header .results .filtered {
    color: #999;
    font-weight: bold;
}

#projects-header .export-buttons {
    margin-bottom: 2px;
}

#projects-header .export-buttons2 {
    margin-bottom: -4px;
    padding: 2px;
}
