
<div id="projects-header">
    <h1>Explorações</h1>
    <div class="results"></div>
    <div class="export">
      <div class="export-buttons" align="center"></div>
      <div class="export-buttons2" align="center"></div>
    </div>
</div>
