<script>
    SIRHA = {
        Utils: {},
        Services: {},
        Error: {},
        getARA: function() { return '{{ request.registry.settings.get("ara") }}'; },
        CONSTANTS: {
          SEXO_FEMININO: "Feminino",
        },
        ESTADO: {
            LICENSED: 'Licenciada',
            DE_FACTO: 'Utente de facto',
            INACTIVE: 'Inactiva',
            USOS_COMUNS: 'Utente de usos comuns',
            PENDING_REVIEW_DIR: 'Pendente Revisão Pedido Licença (Direcção)',
            PENDING_REVIEW_DJ: 'Pendente Análise Pedido Licença (DSU-J)',
            PENDING_FIELD_VISIT: 'Pendente Visita Campo (DRH)',
            PENDING_TECH_DECISION: 'Pendente Parecer Técnico (DRH)',
            PENDING_EMIT_LICENSE: 'Pendente Emissão Licença (DSU-J)',
            PENDING_DIR_SIGN: 'Pendente Firma Licença (Direcção)',
            NOT_EXISTS: 'Não existe',
            UNKNOWN: 'Desconhecido',
            NOT_APPROVED: 'Não aprovada',
            INCOMPLETE_DA: 'Documentação incompleta (Pendente utente - DARH)',
            INCOMPLETE_DIR: 'Documentação incompleta (Pendente utente - Direcção)',
            INCOMPLETE_DJ: 'Documentação incompleta (Pendente utente - DSU-J)',
            INCOMPLETE_DT: 'Documentação incompleta (Pendente utente - DRH)',
            INCOMPLETE_DF: 'Documentação incompleta (Pendente utente - DSU-F)',
        },
        GROUP: {
            ADMIN: "Administrador",
            ADMINISTRATIVO: "Departamento de Administração e Recursos Humanos",
            DIRECCION: "Direcção",
            FINANCIERO: "Departamento Serviços Utente - Financeiro",
            JURIDICO: "Departamento Serviços Utente - Jurídico",
            TECNICO: "Departamento Recursos Hídricos",
            OBSERVADOR: "Observador",
            BASIN_DIVISION: "Divisão",
        },
        ROLE: {
            ADMIN: "ROLE_ADMIN",
            ADMINISTRATIVO: "ROLE_ADMINISTRATIVE",
            FINANCIERO: "ROLE_FINANCIAL",
            DIRECCION: "ROLE_MANAGEMENT",
            TECNICO: "ROLE_TECHNICAL",
            JURIDICO: "ROL_LEGAL",
            OBSERVADOR: "ROLE_OBSERVER",
            BASIN_DIVISION: "ROLE_DIVISOE",
        },
        ESTADO_RENOVACAO: {
            LICENSED: 'Licenciada',
            DE_FACTO: 'Utente de facto',
            PENDING_RENOV_LICENSE: 'Pendente Renovação da licença (DARH)',
            PENDING_REVIEW_DIR: 'Pendente Revisão Renovação (Direcção)',
            PENDING_REVIEW_DJ: 'Pendente Análise Renovação Licença (DSU-J)',
            PENDING_TECH_DECISION: 'Pendente Parecer Técnico Renovação (DRH)',
            PENDING_EMIT_LICENSE: 'Pendente Emissão Renovação Licença (DSU-J)',
            PENDING_DADOS_LICENSE: 'Pendente Dados Renovação Licença (DSU-J)',
            PENDING_DIR_SIGN: 'Pendente Firma Renovação Licença (Direcção)',
            NOT_APPROVED: 'Não aprovada',
            INCOMPLETE_DA:  'Documentação incompleta (Pendente utente - DARH)',
            INCOMPLETE_DIR: 'Documentação incompleta (Pendente utente - Direcção)',
            INCOMPLETE_DJ:  'Documentação incompleta (Pendente utente - DSU-J)',
            INCOMPLETE_DT:  'Documentação incompleta (Pendente utente - DRH)',
        },
        ESTADO_FACT: {
            NO: 'Não facturable',
            PAID: 'Pagada',
            PENDING_PAYMENT: 'Pendente Pagamento (DSU-F)',
            PENDING_INVOICE: 'Pendente Emissão Factura (DSU-F)',
            PENDING_CONSUMPTION: 'Pendente Acrescentar Consumo (DRH)',
        },
        FEATURES: {
            BASINS_WITH_WEAP_MODEL: ['Umbelúzi'],
            {% if request.registry.settings.get("ara") == "ARAS" %}
            ERP_EXPORT: true
            {% endif %}
        }
    }
    SIRHA.ESTADO.CATEGORY_POST_LICENSED = [SIRHA.ESTADO.LICENSED, SIRHA.ESTADO.INACTIVE, SIRHA.ESTADO.DE_FACTO];
    SIRHA.ESTADO.CATEGORY_IN_PROCESS = [SIRHA.ESTADO.PENDING_REVIEW_DIR, SIRHA.ESTADO.PENDING_REVIEW_DJ, SIRHA.ESTADO.PENDING_FIELD_VISIT, SIRHA.ESTADO.PENDING_TECH_DECISION, SIRHA.ESTADO.PENDING_EMIT_LICENSE, SIRHA.ESTADO.PENDING_DIR_SIGN, SIRHA.ESTADO.INCOMPLETE_DA, SIRHA.ESTADO.INCOMPLETE_DIR, SIRHA.ESTADO.INCOMPLETE_DJ, SIRHA.ESTADO.INCOMPLETE_DT, SIRHA.ESTADO.INCOMPLETE_DF];
    SIRHA.ESTADO.CATEGORY_INVOIZABLE = [SIRHA.ESTADO.LICENSED, SIRHA.ESTADO.DE_FACTO];
    SIRHA.ESTADO.CATEGORY_VALIDATE_FICHA = [SIRHA.ESTADO.INACTIVE, SIRHA.ESTADO.LICENSED, SIRHA.ESTADO.PENDING_FIELD_VISIT, SIRHA.ESTADO.PENDING_TECH_DECISION, SIRHA.ESTADO.PENDING_EMIT_LICENSE, SIRHA.ESTADO.PENDING_DIR_SIGN, SIRHA.ESTADO.DE_FACTO, SIRHA.ESTADO.USOS_COMUNS]
    SIRHA.ESTADO.CATEGORY_VALIDATE_ACTIVIY = [SIRHA.ESTADO.UNKNOWN, SIRHA.ESTADO.INACTIVE, SIRHA.ESTADO.NOT_APPROVED, SIRHA.ESTADO.INCOMPLETE_DA, SIRHA.ESTADO.INCOMPLETE_DIR, SIRHA.ESTADO.INCOMPLETE_DJ, SIRHA.ESTADO.INCOMPLETE_DT, SIRHA.ESTADO.INCOMPLETE_DF, SIRHA.ESTADO.PENDING_REVIEW_DIR, SIRHA.ESTADO.PENDING_REVIEW_DJ, SIRHA.ESTADO.PENDING_FIELD_VISIT]


    SIRHA.GROUPS_TO_ROLES = {};
    SIRHA.GROUPS_TO_ROLES[SIRHA.GROUP.ADMIN] = [SIRHA.ROLE.ADMIN];
    SIRHA.GROUPS_TO_ROLES[SIRHA.GROUP.ADMINISTRATIVO] = [SIRHA.ROLE.ADMINISTRATIVO];
    SIRHA.GROUPS_TO_ROLES[SIRHA.GROUP.DIRECCION] = [SIRHA.ROLE.DIRECCION];
    SIRHA.GROUPS_TO_ROLES[SIRHA.GROUP.FINANCIERO] = [SIRHA.ROLE.FINANCIERO];
    SIRHA.GROUPS_TO_ROLES[SIRHA.GROUP.JURIDICO] = [SIRHA.ROLE.JURIDICO, SIRHA.ROLE.ADMINISTRATIVO, SIRHA.ROLE.DIRECCION];
    SIRHA.GROUPS_TO_ROLES[SIRHA.GROUP.TECNICO] = [SIRHA.ROLE.TECNICO];
    SIRHA.GROUPS_TO_ROLES[SIRHA.GROUP.OBSERVADOR] = [SIRHA.ROLE.OBSERVADOR];
    SIRHA.GROUPS_TO_ROLES[SIRHA.GROUP.BASIN_DIVISION] = [
        SIRHA.ROLE.BASIN_DIVISION,
        SIRHA.ROLE.OBSERVADOR,
    ];

</script>
